.box {
    height: 15px;
    width: 15px;
    border: solid 1px;
    display: inline-block;
  }
  
.rows {
  display: flex;
}

.skill-boxes {
  display: inline;
  flex: 1;
}

.skill-items {
  display: inline;
  flex: 1;
}

.posted-cvs {
  width: 50vw;
  border: solid 2px;
}