.box {
    height: 15px;
    width: 15px;
    border: solid 1px;
    display: inline-block;
  }
  
  .rows {
    display: flex;
  }
  
  .skill-boxes {
    display: inline;
    flex: 1;
  }
  
  .skill-items {
    display: inline;
    flex: 1;
  }
  
  .audit-senior-accounting-role--boxes {
    background-color: blue;
  }
  